
img{
    width: 25em;
    height: 20em;  
    margin: 1em;
    border-radius: 15%;
    border-style: solid;
    border-color: black;
    
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;   
    background-color: thistle;
    display: inline;
}
.primertitulo{ 
    text-align: center;
    font-size: medium;
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: thistle;
    display: inline;
}
.segundotitulo{
    text-align: center;
    
}
h3{ 
    text-align: center;    
}
h4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;       
    display: inline;
    margin-top: 5vh;
    font-size: 2em;
}

form{
        text-align: center;
}
p{ 
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(56, 13, 3);
}
header{
    background-color: blueviolet;
    color: bisque;
    border-radius: 20vw;
    
}

.registro{
    width: 26vw;
    margin: auto;
    padding: 3px;
    border-style: dashed;
    border-color: cornflowerblue;
    border-radius: 2vw;
    background-image: url("chiles.jpg");
    background-size: cover;
    
    
}
.metpago{
    width: 26vw;
    margin: auto;
    padding: 3px;
    border-style: dashed;
    border-color: cornflowerblue;
    border-radius: 2vw;
    background-color: azure;
}
 
body{
    background-image: url("burguer.jpg");
    background-size: cover;
}
.contenedor{
    width: 32em;
    height: 1.5em;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    row-gap: 5px;
    
}

.contenedor2{
    width: 15em;
    height: 64em;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    row-gap: 5px;
    background-image: url(burguer.jpg);
    
}

.contenedor3{
    width: 80vw;
    height: 100%;
    margin-left:10vw;    
    margin-top: 5vh;
    margin-bottom: 5vh;
    /*padding:200px;*/
    border-style: solid;
    border-color: rgb(177, 60, 60);
    /*border-radius: 2vw;*/
    background-image: url("overlay1.jpeg");
    background-size: cover;
    
}

.contb{
    width: 70vw;
    height: 50vh;
    margin-top: 3vh;   
    margin-left: 5vw;   
    margin-bottom: 3vh;
    display: inline-flex;    
    border-style:solid;
    border-color: black;
    border-radius: 2vw;   
    background-image: url("dhfondo.jpg");
    background-size: cover;    
}

.bannermenu{
    width: 80vw;
    height: 40vh;    
    margin-left: 10vw;   
    margin-top: 3vh;   
    border-style:solid;
    border-color: black;   
    background-image: url("bannermenu.jpg");
    background-size: cover;    
}


.gridcontenedorloby{
    display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 50px;
  margin-left: 250px;
  border-radius: 5vw;
}
.container-fluid{
    background-color: blueviolet;
    border-radius: 1vw;
    padding: 5px;
    
}
.iteminicio{
    background-color:rgb(203, 136, 136);
    width: 50%;
    
}
.itemMenu{
    background-color:rgb(203, 136, 136);
    width: 50%;
}
.itemformulario{
    background-color:rgb(203, 136, 136);
    width: 50%;
}
.itemconsultas{
    background-color:rgb(203, 136, 136);
    width: 50%;
}

.footertext{
    text-align: center;
    font-size: 1.4vw;
    padding: 2px;
    background-color: thistle;
    border-radius: 1vw;
    display: inline;
}
.gridfooter{   
    text-align: center;
    
}
label{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5px;

}
.checkpago{
    margin-left: 15px;
}

  