  h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    background-color: thistle;
    display: inline;
}
.primertitulo{ 
    text-align: center;
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: thistle;
    display: inline;
}

.segundotitulo{
    text-align: center;
    
}
.Contactotitulo{
    text-align: center;
}
h3{ 
    text-align: center;
}
form{
        text-align: center;
}
p{ 
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(56, 13, 3);
}
header{
    width: 100%;
    background-color: blueviolet;
    
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 5px;
}
header label:hover {
    cursor: pointer;
    background:rgb(205, 159, 248, 0.3)
}
.iconoNav{
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 3%;
}
#botonNav{
    display: none;
}
.barranav ul{
    margin: 0%;
    list-style: none;
    padding: 0;
    display: flex;
}
.barranav li a{
    display: block;
    padding: 15px 20px;
    color: aliceblue;
    text-decoration: none;
}
.barranav li:hover{
    background: rgb(205, 159, 248, 0.3)
}

.registro{
    width: 26vw;
    margin: auto;
    padding: 3px;
    border-style: dashed;
    border-color: cornflowerblue;
    border-radius: 2vw;
    background-image: url("chiles.jpg");
    background-size: cover;
    
    
}
.divingreso{
        width: 26vw;
        margin: auto;
        padding: 3px;
        border-style: dashed;
        border-color: cornflowerblue;
        border-radius: 2vw;
        background-image: url("chiles.jpg");
        background-size: cover;
}
.metpago{
    width: 26vw;
    margin: auto;
    padding: 3px;
    border-style: dashed;
    border-color: cornflowerblue;
    border-radius: 2vw;
    background-color: azure;
}

body{
    background-image: url("burger.jpg");
    background-size: cover;
    margin: 0%;
}
.contenedor{
    width: 32em;
    height: 1.5em;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    row-gap: 5px;
    
}
.gridcontenedorloby{
    display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
  column-gap: 150px;
  margin-left: 150px;
  border-radius: 5vw;

}
.lobyitem1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.videoloby{
    border-radius: 3vw;
}
.lobyitem2{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.mapaloby{
    border-radius: 5vw;
}
.lobyitem3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.lobyregistro{
    border-style: groove;
    background-color: beige;
    text-align: center;
    border-radius: 3vw;
    padding: 5px;
}
.lobysorteo{
    background-color: hotpink;
}
.lobyitem4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    
}
.portadamenu{
    width: 450px;
    height: 300px;
    border-style: groove;
    border-radius: 5vw;
}
.container-fluid{
    background-color: rgb(157, 91, 219);
    position: fixed;
    padding: 5px;
    
}
.iteminicio{
    background-color:rgb(203, 136, 136);
    width: 50%;
    
}
.itemMenu{
    background-color:rgb(203, 136, 136);
    width: 50%;
}
.itemformulario{
    background-color:rgb(203, 136, 136);
    width: 50%;
}
.itemconsultas{
    background-color:rgb(203, 136, 136);
    width: 50%;
}

.footertext{
    text-align: center;
    font-size: 1.4vw;
    padding: 2px;
    background-color: thistle;
    border-radius: 1vw;
    display: inline;
}
.gridfooter{   
    text-align: center;
    
}
label{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5px;

}
.checkpago{
    margin-left: 15px;
}

.containerindex{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: large;
    margin: auto;
    margin-top: 50px;
}
.textindex{
    background-color: aliceblue;
    width: 450px;
    text-align: center;
}
a:hover{
    color: black;
    background-color: rgb(158, 87, 199);
}
a:link{
    color: blue;
}

.contenedor3{
    width: 80vw;
    height: 100%;
    margin-left:10vw;    
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-style: solid;
    border-color: rgb(177, 60, 60);
    background-image: url("overlay1.jpeg");
    background-size: cover;
    
}

.contb{
    width: 70vw;
    height: 50vh;
    margin-top: 3vh;   
    margin-left: 5vw;   
    margin-bottom: 3vh;
    display: inline-flex;    
    border-style:solid;
    border-color: black;
    border-radius: 2vw;   
    background-image: url("dhfondo.jpg");
    background-size: cover;    
}

.bannermenu{
    position: sticky;
    width: 80vw;
    height: 40vh;    
    margin-left: 10vw;   
    margin-top: 3vh;   
    border-style:solid;
    border-color: black;   
    background-image: url("bannermenu.jpg");
    background-size: cover;    
}

img{
    width: 25em;
    height: 20em;  
    margin: 1em;
    border-radius: 15%;
    border-style: solid;
    border-color: black;    
}

.descripbh{
    font-size: 3em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;       
    display: inline;
    margin-top: 5vh;
    font-size: 2em;
}
.navbar {
    top: 0%;
    position: fixed;
}

@media (max-width: 768px){
    /*navbar*/
    header label{
        display: block;
    }
    .barranav{
        position: absolute;
        background: rgb(97, 30, 160);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .barranav ul{
        flex-direction: column;
    }
    .barranav li{
        border-top: 1px solid #fff;
    }
    #botonNav:checked ~ .barranav{
        margin: 0;
    }
    /*seccion loby*/
    .gridcontenedorloby{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-left: 1%;
       
    }
    .videoloby{
        width: 100%;
    }
    .mapaloby{
        width: 100%;
    }
    .portadamenu{
        width: 100%;
        margin-left: 0%;
    }
    .container-fluid{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .textindex{
        text-align: left;
        max-width: 100%;
    }
    /*seccion menu*/
    .bannermenu{
        width: 100%;
        margin-top: 35%;
        margin-left: -31%;
        
    }
    .contenedor3{
        width: 100%;
        margin-left: -10%;
        
    }
    .baconbad{
        transform: scale(0.4, 0.4);
        margin-left: -40%;
        margin-top: 0%;
    }
    .the1000{
        transform: scale(0.4, 0.4);
        margin-left: -40%;
        margin-top: 0%;
    }
    .bigvagon{
        transform: scale(0.4, 0.4);
        margin-left: -40%;
        margin-top: 0%;
    }
    .belgranoburg{
        transform: scale(0.4, 0.4);
        margin-left: -40%;
        margin-top: 0%;
    }
    .descripbh{
        font-size: 95%;
        margin-left: -122%;
        margin-top: 115%;
        color: rgb(0, 0, 0);
        text-align: left;
        background-color: olive;
        
        
    }
    /*seccion contacto*/
    .Contactotitulo{
        width: 100%;
        margin-top: 20%;
    }
    .gridfooter{
        margin-left: 2%;
        margin-bottom: 0%;
        width: 80%;
    }
    /*seccion formregistro*/
    .contenidogrid{
        width: 100%;
        margin-top: 10%;
        margin-left: 3%;
    }
    .primertitulo{
        width: 80%;
    }
    .segundotitulo{
        width: 80%;
    }
    .registro{
        width: 80%;
        margin-left: 0%;
    }
    .footertext{
        font-size: 100%;
    }
    /*seccion ingreso*/
    .ingresogrid{
        margin-top: 15%;
        margin-left: 2%;
        
    }
    .divingreso{
        width: 90%;
        margin-left: 3%;
    }
    /**/
    .metpago{
        margin-top: 15%;
        width: 70%;
        margin-left: 2%;
    }
    }
