@media screen (min-width: 600px) {
    body{
        background-image: url("burger.jpg");
        background-size: cover;
    }
}
@media screen (min-width: 992px){
    body{
        background-image: url("burger.jpg");
        background-size: cover;
    }
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    background-color: thistle;
    display: inline;
}
.primertitulo{ 
    text-align: center;
}
h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: thistle;
    display: inline;
}
.segundotitulo{
    text-align: center;
    
}
h3{ 
    text-align: center;
}
form{
        text-align: center;
}
p{ 
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(56, 13, 3);
}
header{
    background-color: blueviolet;
    color: bisque;
    border-radius: 20vw;
    
}

.registro{
    width: 26vw;
    margin: auto;
    padding: 3px;
    border-style: dashed;
    border-color: cornflowerblue;
    border-radius: 2vw;
    background-image: url("chiles.jpg");
    background-size: cover;
    
    
}
.metpago{
    width: 26vw;
    margin: auto;
    padding: 3px;
    border-style: dashed;
    border-color: cornflowerblue;
    border-radius: 2vw;
    background-color: azure;
}

body{
    background-image: url("burger.jpg");
    background-size: cover;
}
.contenedor{
    width: 32em;
    height: 1.5em;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    row-gap: 5px;
    
}
.gridcontenedorloby{
    display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 50px;
  margin-left: 250px;
  border-radius: 5vw;
}
.container-fluid{
    background-color: blueviolet;
    border-radius: 1vw;
    padding: 5px;
    
}
.iteminicio{
    background-color:rgb(203, 136, 136);
    width: 50%;
    
}
.itemMenu{
    background-color:rgb(203, 136, 136);
    width: 50%;
}
.itemformulario{
    background-color:rgb(203, 136, 136);
    width: 50%;
}
.itemconsultas{
    background-color:rgb(203, 136, 136);
    width: 50%;
}

.footertext{
    text-align: center;
    font-size: 1.4vw;
    padding: 2px;
    background-color: thistle;
    border-radius: 1vw;
    display: inline;
}
.gridfooter{   
    text-align: center;
    
}
label{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 5px;

}
.checkpago{
    margin-left: 15px;
}